/* Write your code here. */
.emojiGame-container {
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  height: 100vh;
}
.emojiGame-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emojisItems-container {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
