/* Write your code here. */
.gameWonCard-container {
  background-color: #ffffff33;
  border-radius: 15px;
  display: flex;
}
.lostGame-container {
  background-color: #ffffff33;
  border-radius: 15px;
  display: flex;
}
.playAgain-btn {
  background-color: #ffce27;
  color: #3d3d3d;
  border-width: 0px;
  border-radius: 8px;
}
