/* Write your code here. */
.navBar {
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
}
.emojiGameLogo-and-score-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.emojiGameLogo {
  display: flex;
  flex-direction: row;
}

.emojiGame-score {
  display: flex;
  flex-direction: row;
}
.emojiGame-heading {
  color: #ffffff;
}
.emojiGame-score {
  color: #ffffff;
  margin-left: 10px;
}
